# ============================================
# 🎫 BOOKING SERVICE ENVIRONMENT VARIABLES
# ============================================

# TCP Microservice Port
TCP_HOST=0.0.0.0
TCP_PORT=3004

# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5438/movie_hub_booking?schema=public"

# Cinema Service Connection (for seat validation)
CINEMA_HOST=localhost
CINEMA_PORT=3003

# Node Environment
NODE_ENV=development

# Logging
LOG_LEVEL=debug



## DEPLOY CONFIGURATION


# # ============================================
# # 🎫 BOOKING SERVICE ENVIRONMENT VARIABLES
# # ============================================

# # TCP Microservice Port
# TCP_HOST=booking-service
# TCP_PORT=3004

# # Database Configuration
# DATABASE_URL="postgresql://postgres:postgres@postgres-booking:5432/movie_hub_booking?schema=public"
# #DATABASE_URL="postgresql://postgres:postgres@localhost:5438/movie_hub_booking?schema=public"

# # Cinema Service Connection (for seat validation)
# CINEMA_HOST=cinema-service
# CINEMA_PORT=3003

# # Node Environment
# NODE_ENV=development

# # Logging
# LOG_LEVEL=debug


# # VNPAY Configuration
# VNPAY_TMN_CODE=0GEGLRAD
# VNPAY_HASH_SECRET=KB2XXMTTDUA1HTSW68JIG0U963AC7TOV
# VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
# VNPAY_RETURN_URL=http://localhost:3004/api/bookings/vnpay_return
# VNPAY_API=https://sandbox.vnpayment.vn/merchant_webapi/merchant.html